
.items{
  /*margin:0 10px;*/
  padding:0 10px;
  background:#fff;
}

.items li{
  padding:10px 0;
  border-bottom:1px solid #ccc;
}

.items li img{
  width:100px;
  height:100px;
  float:left;
}
.items li .content{
  margin-left:110px;

}

.items li .content h3{
  font-size:18px;
  height:50px;
}

.items li .price{
  color:#06c1ae;
}

.items li .sales{
  float:right;
}
